<!DOCTYPE html>
<html>
<style>
head { font-family: Arial, sans-serif;}
h2 {font-family: Arial, sans-serif;}
label {font-family: Arial, sans-serif;}
body {background-color: lightblue}
a {background-color: hotpink ;}
a {border-radius: 10px;}
a {font-family: Arial, sans-serif;}
</style>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <% if logged_in? %>
      <h2>Welcome, <%= current_user.email %></h2>
      <form action="<%= session_url %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="logout">
      </form>
    <% else %>
      <a href=" <%= new_user_url %>">Sign Up</a>
      <a href=" <%= new_session_url %>">Login</a>
    <% end %>
  </body>
</html>
